<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Azz.com - Sign Up</title>
    <link rel="stylesheet" type="text/css" href="static/css/style2.css">
</head>
<body>
    <header>
        <h1>Create Your Azz Account</h1>
        <p>Join the Athletic Community</p>
    </header>

    <main>
        <!-- Your content for the sign-up page goes here -->
         <form method="POST" action="/">
        <!-- Heading -->
        <h4>
            Create an account
        </h4>

        <!-- Subheading -->
        <p >
            Please fill up your information below to sign up.
        </p>

        <!-- Email -->
        <div>
            <label>Email address*</label>
            <div>
                <input type="email"  name="email" id="emailStr" required>
            </div>
        </div>

         <div>
            <label>User name</label>
            <div>
                <input type="text"  name="userName" required>
            </div>
        </div>


        <!-- Password -->
        <div>
            <label>Password*</label>
            <div class="input-group">
                <input type="password"  name="password" minlength="6">
            </div>
        </div>
        
        <!-- Button -->
        <div>
            <input type="submit"/>
        </div>
    </form>
    <br>
    <a href="/signin"><button>signin</button></a>
    </main>

    <footer>
        <p>Contact Information: info@azz.com | Phone: +1 (123) 456-7890</p>
        <p>&copy; 2023 Azz. All rights reserved.</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>
